.cell {
	width: 60px;
	height: 60px;
	display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.cell + .cell {
  margin-left: 2px;
}

.cell--is-held {
	box-shadow: 5px 5px 0 rgba(0, 0, 0, .33)
}

.cell--one   { background: #ACCEDE; }
.cell--two   { background: #ADA6E5; }
.cell--three { background: #ACCE55; }
.cell--four  { background: #AB011A; }
.cell--five  { background: #AB0DE5; }
.cell--six   { background: #AB0DED; }
.cell--seven { background: #ABBE55; }
.cell--empty { background: #ABACA5; }
