@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.queue {
	height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.queue__piece {
  z-index: 2;
  position: relative;	
}

.queue__spinner {
	position: absolute;
	z-index: 1;
	-webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  pointer-events: none;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 1;
}

.queue__spinner--is-faded {
  opacity: 0;
}

.queue__row {
  display: flex;
}

.queue__row + .queue__row {
  margin-top: 2px;
}

.queue__aside {
	position: absolute;
	left: 0;
}